body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(bg.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-logo {

    width: 60%; /* Гибкость – наше всё */
    height: auto;
    object-fit: contain; /* Исключаем искажения пропорций */
    z-index: 1;
    top: 10px;

}

.logo {
    position: relative ;
    width: 25%; /* Гибкость – наше всё */
    height: auto;
    object-fit: contain; /* Исключаем искажения пропорций */
    z-index: 1;
    top: 5px;
    left: -50px;
}


.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;

    margin-right: 25px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #d81d1d;
}


.cart {
    position: relative;

    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 18px;
    right: 7px;
}

.tg-text { /*текст "мой телеграм"*/
    color: #fff;
    text-decoration: none;
    font-size: 23px;
    font-weight: 700;

    transition: color 0.3s linear;
}

.tg-text:hover { /*цвет текста тг при наводке*/
    color: #42aaff;
}



.tg-img { /*лого тг*/
    position: relative ;
    width: 7%; /* Гибкость – наше всё */
    height: auto%;
    object-fit: contain; /* Исключаем искажения пропорций */
    top: 5px;
    left: 550px;


}

.tg-holder {
    display: flex;
    align-items: center;


}

.button {
    background-color: #ffde00;
    color: #fff;
    text-decoration: none;
    padding: 14px 18px;
    font-weight: 700;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #ffde00;
}

.header-down {
    position: relative;
}

.header-title {
    color: #ffffff;
    font-family: 'Tinos', serif;
    font-size: 65px;
    font-weight: 400;

    text-align: center;
    position: absolute;
    left: 0;

    margin-top: 222px;
    margin-bottom: 12px;
}

.header-suptitle {
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;


}

.header-suptitle:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 56px;
}

.header-suptitle:before {
    position: absolute;
    content: '';
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 127px;
    left: 308px;
}

.header-button {
    background-color: #140F0B;
    padding: 14px 28px;
    color: #fff;
    font-size: 19px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    border-radius: 30px;


    transition: background-color 0.5s linear;
}

.header-btn1 {





}

.header-button:hover {
    background-color: #CFCFCF;
}

.body-img {
    position: relative ;
    width: 50%; /* Гибкость – наше всё */
    height: auto%;
    object-fit: contain; /* Исключаем искажения пропорций */
    top: -144px;
    left: 760px;

}





.history { /*вся вторая страница*/
    z-index: 1;
    background-image: url(bg2.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    padding-bottom: 1px;

}

.history-title {

    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400;
    width: 444px;
    text-align: center;
    margin-top: 21px;
}

.history-title span {
    color: #ffffff;
}

.history-info {
    margin-top: 100px;
}

.history-desc {
    color: #979797;
    font-size: 30px;
    width: 444px;
    text-align: center;
}

.statistics {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item {
    font-family: 'Tinos', serif;
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #ffffff;
}

.number-item span {
    display: block;
    color: #ffffff;
}

.social-medias { /*сделать что бы наведение они прыгали*/
   position: relative;
   width: 85%;
   top: 30px;
   left: 100px


}

.logo-1 {
   position: relative;
   width: 10%; /* Гибкость – наше всё */
   height: auto;
   object-fit: contain; /* Исключаем искажения пропорций */
   margin-right: 15px;

}

.logo-2 {
   position: relative;
   width: 9%; /* Гибкость – наше всё */
   height: auto;
   object-fit: contain; /* Исключаем искажения пропорций */
   margin-right: 15px;
}

.logo-3 {
   position: relative;
   width: 9%; /* Гибкость – наше всё */
   height: auto;
   object-fit: contain; /* Исключаем искажения пропорций */
   margin-right: 15px;
}


.pavlov-images {
    position: relative;
}

.history-holder {
    display: flex;
}

.images-1 {
    position: relative ;
    border-radius: 10px;
    width: 120%; /* Гибкость – наше всё */
    height: auto;
    object-fit: contain; /* Исключаем искажения пропорций */
    z-index: 1;
    top: 120px;
    left: 0px;
}






.black-block {
    background-image: url(img/black-bg.jpg);
    padding: 80px 0;
}


.footer {
    background-color: #000;
    padding: 50px 0px;
    color: #fff;
    text-align: center;
}



.disp {
    display: none;
}



@media (max-width: 1500px) {

    .galery-content {
        display: block;
    }

    .img-gal,
    .galery-up,
    .galery-down {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .img-gal {
        margin-bottom: 20px;
    }

    .galery-left {
        margin-right: 0;
    }


}




@media (max-width: 1300px) {




    .header-title {
        position: static;
    }

    .header-suptitle:before,
    .header-suptitle:after {
        content: none;
    }




    .cook-content {
        display: block;
    }

    .cook-content img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px;
    }


    .block-holder {
        display: block;
    }

    .left-title,
    .left-text,
    .right-button {
        text-align: center;
    }

    .right-button {
        margin-top: 30px;
    }







@media (max-width: 1185px) {

    .burger-menu {
        display: block;
    }

    .nav,
    .cart,
    .tg,
    .btn {
        display: none;
    }

    .header-line {
        justify-content: space-between;
    }


    .burgers-image {
        display: none;
    }

}



@media (max-width: 1000px) {

    .cards-holder {
        display: block;
    }

    .card {
        width: 100%;
        margin-top: 30px;
        padding-bottom: 20px;
    }

}




@media (max-width: 780px) {

    .history-holder {
        display: block;

    }

    .menu-item {
        width: auto;
    }

    .high {
        display: none;
    }

    .container {
        margin: auto 40px;
    }

    .number-item {
        font-size: 23px;
    }

}


*,
*::before, #почитать что это делает
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}







