<div class="mobile-menu-button">
  <button id="mobile-menu-button" class="mobile-menu-button" aria-controls="mobile-menu" aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
    </svg>
  </button>
</div>
<div id="mobile-menu" class="mobile-menu">
  <ul>
    <li><a href="/" class="mobile-menu-link">Home</a></li>
  </ul>
</div>