<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='style.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/main_page/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'main_page/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main_page/js/app.js' %}">
    <title>Официальный сайт Дмитрия Павлова</title>
</head>
<body>

<div class='header'>
    <div class='container'>
        <div class='header-line'>
            <div class='header-logo'>
                <img class='logo' src="static/main_page/img/logo.png" alt="">
            </div>

            <div class='tg'>
                <div class='tg-holder'>
                    <div class='tgmain-img'>
                        <img class ='tg-img' src="static/main_page/img/tg.png" alt=" ">
                    </div>
                    <div><a class='tg-text' href='https://t.me/PavlovDoctor'> Мой Телеграм</a></div>
                </div>
            </div>



<!--            <div class='burger-menu'>-->

<!--                <button id='burger'>-->
<!--                    <img src="static/main_page/img/burger-img.png" alt="">-->
<!--                </button>-->

<!--                <div id='menu' class='burger-slide disp'> &lt;!&ndash;мобильная&ndash;&gt;-->
<!--                    <a class='nav-item block' href="@">ГЛАВНАЯ</a>-->
<!--                    <a class='nav-item block' href="@">МЕНЮ</a>-->
<!--                    <a class='nav-item block' href="ff">О НАС</a>-->
<!--                    <a class='nav-item block' href="@">БРОНЬ</a>-->
<!--                </div>-->

<!--            </div>-->

        </div>


        <div class='header-down'>
            <div class='header-title'>
                Дмитрий Павлов

                <div class='header-subtitle'>
                    Ваш Нейро-Врач
                </div>


               <section class='header-btn'>
                    <a href='#aboutme' class='header-button'>Больше обо мне</a>
                </section>



            </div>
            <div class = 'header-img'>
                    <img class ='body-img' src="static/main_page/img/body.png" alt=" ">
                </div>


        </div>

    </div>

</div>



<div class='history'>
    <section id="aboutme" class="aboutme"></section>
    <div class='container'>
        <div class='history-holder'>
            <div class='history-info'>
                <div class='history-title'>
                     <span>История</span>
                </div>

                <div class='history-desc'>
                    Врач, блогер, нейросеть - всё это обо мне. Я стремлюсь помочь  узнать новое о вашем теле, сделать здоровье доступным и понятным для каждого.
                </div>


                <div class='statistics'>
                    <div class='number-item'>
                         <span>Просмотры</span> {{ statistics.viewCount| intcomma  }}
                    </div>

                    <div class='number-item'>
                         <span>Подписчики</span> {{ statistics.subscriberCount }}
                    </div>

                </div>

                <div class='social-medias'>
                   <a href="https://www.youtube.com/@dmitriypavlovems"> <img class = 'logo-1' src="static/main_page/img/youtube.png"></a>
                    <a href="https://t.me/PavlovDoctor"><img class = 'logo-2' src="static/main_page/img/socialTG.png"></a>
                    <a href="https://www.tiktok.com/@dmitriypavlovems?lang=ru-RU"><img class = 'logo-3' src="static/main_page/img/tiktok.png"></a>
                </div>

            </div>


            <div class='history-images'>
                <img class='images-1' src="static/main_page/img/dp1.png" alt="">
            </div>



        </div>

    </div>

</div>


<div class='black-block'>

    <div class='container'>

        <div class='block-holder'>
            <div class='left'>
                <div class='left-title'>
                    Отпразднуйте в одном из <br> самых лучших ресторанов.
                </div>

                <div class='left-text'>
                    Только в этом месяце бизнес-ланч от 250 ₽
                </div>
            </div>

<!--            <div class='right'>-->
<!--                <div class='right-button'>-->
<!--                    <a href='#' class='right-btn'>ЗАКАЗ СТОЛИКА</a>-->
<!--                </div>-->
            </div>
        </div>

    </div>




<div class='dishes'>

    <div class='container'>

        <div class='dishes-title'>
            Наши <span>Блюда</span>
        </div>

        <div class='burgers'>
            <div class='burgers-image'>
                <img src='static/main_page/img/pizza.jpg' class='pizza'>
            </div>

            <div class='burgers-items'>
                <div class='burger-item'>
                    <img src="static/main_page/img/burger.jpg" class=''>
                    <div class='burger-text'>
                        Гамбургер мини -------------- 220 ₽
                    </div>
                </div>

                <div class='burger-item'>
                    <img src="static/main_page/img/burger.jpg" class=''>
                    <div class='burger-text'>
                        Гамбургер мини -------------- 220 ₽
                    </div>
                </div>

                <div class='burger-item'>
                    <img src="static/main_page/img/burger.jpg" class=''>
                    <div class='burger-text'>
                        Гамбургер мини -------------- 220 ₽
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<div class='menu'>

    <div class='container'>

        <div class='menu-title'>
            Наше меню
        </div>

        <div class='menu-items'>

            <div class='menu-item'>
                <div class='menu-image'>
                    <img src='static/main_page/img/burger-i.jpg' class='menu-img'>
                </div>

                <div class='menu-text'>
                    Гамбургер макси
                </div>

                <div class='menu-subtext'>
                    Максимально толстый <br> слой мяса
                </div>

                <div class='menu-button'>
                    <a href='#' class='menu-btn'>ЗАКАЗАТЬ</a>
                </div>
            </div>

            <div class='menu-item'>
                <div class='menu-image'>
                    <img src='static/main_page/img/burger-i.jpg' class='menu-img'>
                </div>

                <div class='menu-text'>
                    Гамбургер макси
                </div>

                <div class='menu-subtext'>
                    Максимально толстый <br> слой мяса
                </div>

                <div class='menu-button'>
                    <a href='#' class='menu-btn'>ЗАКАЗАТЬ</a>
                </div>
            </div>

            <div class='menu-item'>
                <div class='menu-image'>
                    <img src='static/main_page/img/burger-i.jpg' class='menu-img'>
                </div>

                <div class='menu-text'>
                    Гамбургер макси
                </div>

                <div class='menu-subtext'>
                    Максимально толстый <br> слой мяса
                </div>

                <div class='menu-button'>
                    <a href='#' class='menu-btn'>ЗАКАЗАТЬ</a>
                </div>
            </div>
        </div>

    </div>

</div>

<div class='coment'>

    <div class='container'>

        <div class='coment-text'>
            Я надолго запомню мой День рождения, проведённый в этом ресторане! Кусочек родной Армении!!! Отдельное спасибо за комплепент в виде фруктовой тарелки. Будем рекомендовать этот ресторан своим друзьям и родственникам также за рубежом, путешествующих в Санкт-Петербург!!!
        </div>

        <div class='coment-image'>
            <img src='static/main_page/img/face.png' class='coment-img'>
        </div>

        <div class='coment-type'>
            Посетитель
        </div>

        <div class='coment-name'>
            Николай
        </div>

    </div>

</div>


<div class='galery'>

    <div class='container'>

        <div class='galery-title'>
            Галерея <span>Блюд</span>
        </div>


        <div class='galery-content'>

            <div class='galery-left'>

                <div class='galery-up'>
                    <img class='img-gal high' src="static/main_page/img/10.jpg">
                </div>

                <div class='galery-down'>
                    <img class='img-gal' src="static/main_page/img/20.jpg">
                    <img class='img-gal' src="static/main_page/img/30.jpg">
                </div>

            </div>

            <div class='galery-right'>

                 <div class='galery-up'>
                    <img class='img-gal' src="static/main_page/img/20.jpg">
                    <img class='img-gal' src="static/main_page/img/30.jpg">
                </div>

                <div class='galery-down'>
                    <img class='img-gal high' src="static/main_page/img/10.jpg">
                </div>

            </div>

        </div>


    </div>

</div>


<div class='cook'>

    <div class='container'>

        <div class='cook-title'>
            Наши <span>Повара</span>
        </div>


        <div class='cook-content'>
            <img src='static/main_page/img/1c.jpg'>
            <img src='static/main_page/img/2c.jpg'>
            <img src='static/main_page/img/3c.jpg'>
        </div>

    </div>

</div>


<div class='footer'>
    Copyright 2022
</div>


<script src='static/main_page/js/app.js'></script>



</body>
</html>
